/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}


/* Color Configs */
:root {
    --cor-primaria: #303030;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #014675;

    --background-terciario: #262626;
    --background-footer: #202020;


    --background-primary: #014675;
    --background-secondary: #00b0ff;
    --background-tertiary: #003a61;
}

html {
    font-family: 'SEGOE UI', 'Roboto',  sans-serif;
    color: var(--cor-primaria);
    scroll-behavior: smooth;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


/* Principal */
.principal {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 176, 255, 0.3), rgba(0, 176, 255, 0.3)),url(../assets/img/header-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* MENU */
.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: var(--background-primary);
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    z-index: 100;
}

.navigation:hover, .navigation.active {
    width: 300px;
}

.navigation ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background-color: var(--background-tertiary);
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #FFF;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fas {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

[data-menu="menu-mobile"] {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: var(--background-primary);
    cursor: pointer;
    display: none;
    z-index: 200;
}

[data-menu="menu-mobile"].active {
    background-color: var(--background-tertiary);
}

.icon:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

[data-menu="menu-mobile"]:before {
    font-family: "Font Awesome 5 Free";
    content: '\f0c9';
    font-weight: 900;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #FFF;
}

[data-menu="menu-mobile"].active:before {
    font-family: "Font Awesome 5 Free";
    content: '\f00d';
    font-weight: 900;
}

@media (max-width: 767px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        left: 0px;
        width: 100%;
    }
    [data-menu="menu-mobile"] {
        display: block;
    }

}

.divisor {
    display: block;
    width: 90%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto 10px;
}
/* FIM MENU */

.apresentacao {
    color: var(--cor-secundaria);
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: show-down 1s forwards;
}

.apresentacao h1 {
    font-size: 4rem;
    width: 100%;
}

.apresentacao p {
    font-size: 2rem;
    max-width: 900px;
    width: 100%;
}

/* Sobre */
.sobre {
    margin: 0 auto;
    background-image: url(../assets/img/sobre.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 60px;
}

.sobre h1 {
    width: 100%;
    max-width: 550px;
    font-size: 4em;
    letter-spacing: -8px;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
    margin: 60px auto;
}

.sobre h1 span {
    font-weight: 700;
}

.sobre h1:after {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    content: '';
    width: 100px;
    height: 4px;
    background-color: #5d5d5d;
}

.sobre p {
    font-size: 1.125em;
    line-height: 24px;
    color: #5D5D5D;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}
.sobre p + p {
    margin-top: 15px;
}

.sobre-sociais {
    text-align: center;
}

.sobre .btn {
    display: inline-block;
    margin: 30px auto 0;
    height: 60px;
    width: 60px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-radius: 50%;
    line-height: 60px;
    transition: transform .3s;
}

.sobre .btn:hover {
    transform: translateY(-5px);
}

.sobre .btn + .btn {
    margin-left: 30px;
}

.sobre .btn:after{
    background-color: var(--cor-terciaria);
}

.sobre .btn i {
    font-size: 1.125em;
    color: var(--cor-secundaria);
}

.sobre .btn a {
    font-size: 1.125em;
    padding: 20px;
    color: var(--cor-secundaria);
}

.sobre-call-projetos {
    width: 250px;
    height: 60px;
    margin: 60px auto;
    background-image: linear-gradient(to right, #00B0FF, #0083B0);
    text-align: center;
    border-radius: 4px;
    transition: transform .3s;
}

.sobre-call-projetos:hover{
    transform: scale(1.1);
}


.sobre-call-projetos a {
    color: var(--cor-secundaria);
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: -1px;
    padding: 20px;
}
.sobre-call-projetos i {
    margin-right: 15px;
}

/* Habilidades */
.habilidades {
    background-color: #DCDCDC;
    padding: 80px;
    margin: 0 auto;
}

.lista-linguagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #BFBFBF;
}

.lista-linguagens ul li {
    display: inline-block;
    background-color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 10px;
}

.linguagens {
    flex: 1;
}

.design {
    flex: 1;
}

.outros {
    flex: 1;
}

/* Projetos */
.projetos {
    background-color: var(--cor-primaria);
    padding: 60px;
}

.projetos h1 {
    width: 100%;
    max-width: 550px;
    font-size: 4em;
    letter-spacing: -5px;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
    margin: 0 auto 30px;
    color: var(--cor-secundaria);
}

.projetos h1 span {
    font-weight: 700;
}

.projetos h1:after {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    content: '';
    width: 100px;
    height: 4px;
    background-color: var(--cor-secundaria);
}

.lista-projetos ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lista-projetos ul li.projetos-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-terciario);
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 300px;
    margin: 30px;
    padding: 30px;
    border-top: 3px solid var(--cor-terciaria);
}

.lista-projetos ul li h3 {
    color: var(--cor-secundaria);
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
}

.lista-projetos ul li p {
    color: #bfbfbf;
    flex: 1;
    margin-top: 15px;
}

.lista-projetos ul li div.btn-projeto {
    display: inline-block;
    background-color: var(--cor-terciaria);
    height: 30px;
    width: 120px;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    align-self: center;
}

.lista-projetos ul li div.btn-projeto a {
    color: var(--cor-secundaria);
    font-size: 0.875em;
    text-transform: uppercase;
    line-height: 30px;
}

/* Footer */
.footer {
    background-color: var(--background-footer);
    padding: 30px 0;
    color: #DCDCDC;
}

.footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.copyright img {
    height: 30px;
    max-width: 30px;
    margin-right: 20px;
}

.copyright a {
    color: #DCDCDC;
}

/* MEDIA */

@media (max-width: 1250px){
    .sobre {
        margin: 0 auto;
        background-image: none;
    }

    .apresentacao h1 {
        font-size: 3rem;
    }

    .apresentacao p {
        font-size: 1.5rem;
    }
    
}


@media (max-width: 1040px) {
    .apresentacao h1 {
        font-size: 2rem;
    }

    .apresentacao p {
        font-size: 1rem;
        max-width: 500px;
    }
}

@media (max-width: 856px) {
    .lista-linguagens {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lista-linguagens div + div {
        margin-top: 30px;
    }
}

@media (max-width: 710px) {
    .sobre h1, .projetos h1 {
        font-size: 2.5rem;
        max-width: 350px;
        letter-spacing: -4px;
        line-height: 40px;
    }

    .sobre p {
        margin-left: 30px;
        margin-right: 30px;
    }

    .projetos {
        padding: 0;
    }

    .projetos h1 {
        padding-top: 30px;
        max-width: 350px;
    }

    .lista-projetos ul li.projetos-item {
        margin-left: 0;
        margin-right: 0;
    }

    .copyright div + div {
        text-align: center;
        max-width: 310px;
    }

}

@keyframes show-down {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
} 