/* Reset */
body, h1, h2, h3, ul, li, p, div {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

/* Configurações */
:root {
    --cor-primaria: #303030;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #00b0ff;

    --background-terciario: #262626;
    --background-footer: #202020;
}

html {
    font-family: 'SEGOE UI', 'Roboto',  sans-serif;
    color: var(--cor-primaria);
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


/* Principal */
.principal {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 176, 255, 0.3), rgba(0, 176, 255, 0.3)),url(../assets/img/header-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.header .logo img{
    width: 45px;
    transition: 0.3s;
}

.header .logo:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

.menu-principal ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu-principal ul a {
    display: block;
    padding: 15px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: var(--cor-secundaria);
    transition: 0.3s;
    font-size: 1.5em;
}

.menu-principal ul a:hover {
    transform: translateY(-3px);
    transition: 0.3s;
}

.menu-toggle {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.apresentacao {
    color: var(--cor-secundaria);
    text-align: center;
}

.apresentacao h1 {
    font-size: 4rem;
    width: 100%;
    line-height: 85px;
}

.apresentacao p {
    font-size: 2rem;
    max-width: 900px;
    width: 100%;
}

/* Sobre */
.sobre {
    margin: 0 auto;
    background-image: url(../assets/img/sobre.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 60px;
}

.sobre h1 {
    width: 100%;
    max-width: 550px;
    font-size: 4em;
    letter-spacing: -8px;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
    margin: 60px auto;
}

.sobre h1 span {
    font-weight: 700;
}

.sobre h1:after {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    content: '';
    width: 100px;
    height: 4px;
    background-color: #5d5d5d;
}

.sobre p {
    font-size: 1.125em;
    line-height: 24px;
    color: #5D5D5D;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}
.sobre p + p {
    margin-top: 15px;
}

.sobre-sociais {
    text-align: center;
}

.sobre .btn {
    display: inline-block;
    margin: 30px auto 0;
    height: 60px;
    width: 60px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-radius: 50%;
    line-height: 60px;
}

.sobre .btn + .btn {
    margin-left: 30px;
}

.sobre .btn:after{
    background-color: var(--cor-terciaria);
}

.sobre .btn i {
    font-size: 1.125em;
    color: var(--cor-secundaria);
}

.sobre .btn a {
    font-size: 1.125em;
    padding: 20px;
    color: var(--cor-secundaria);
}

.sobre-call-projetos a {
    color: var(--cor-secundaria);

}

.sobre-call-projetos {
    width: 250px;
    height: 60px;
    margin: 60px auto;
    background-image: linear-gradient(to right, #00B0FF, #0083B0);
    text-align: center;
    border-radius: 4px;
}


.sobre-call-projetos a {
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: -1px;
}
.sobre-call-projetos i {
    margin-right: 15px;
}

/* Habilidades */
.habilidades {
    background-color: #DCDCDC;
    padding: 60px;
    margin: 0 auto;
}

.lista-linguagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #BFBFBF;
}

.lista-linguagens ul li {
    display: inline-block;
    background-color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 10px;
}

.linguagens {
    flex: 1;
}

.design {
    flex: 1;
}

.outros {
    flex: 1;
}

/* Projetos */
.projetos {
    background-color: var(--cor-primaria);
    padding: 60px;
}

.projetos h1 {
    width: 100%;
    max-width: 550px;
    font-size: 4em;
    letter-spacing: -5px;
    font-weight: 300;
    text-align: center;
    line-height: 60px;
    margin: 0 auto 30px;
    color: var(--cor-secundaria);
}

.projetos h1 span {
    font-weight: 700;
}

.projetos h1:after {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    content: '';
    width: 100px;
    height: 4px;
    background-color: var(--cor-secundaria);
}

.lista-projetos ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lista-projetos ul li.projetos-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-terciario);
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 300px;
    margin: 30px;
    padding: 30px;
    border-top: 3px solid var(--cor-terciaria);
}

.lista-projetos ul li h3 {
    color: var(--cor-secundaria);
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
}

.lista-projetos ul li p {
    color: #bfbfbf;
    flex: 1;
    margin-top: 15px;
}

.lista-projetos ul li div.btn-projeto {
    display: inline-block;
    background-color: var(--cor-terciaria);
    height: 30px;
    width: 120px;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    align-self: center;
}

.lista-projetos ul li div.btn-projeto a {
    color: var(--cor-secundaria);
    font-size: 0.875em;
    text-transform: uppercase;
    line-height: 30px;
}

/* Footer */
.footer {
    background-color: var(--background-footer);
    padding: 30px 0;
    color: #DCDCDC;
}

.footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
}

.copyright img {
    height: 30px;
    padding-right: 20px;
}

.footer-sociais {
    flex: 1;
}

.footer-sociais ul {
    display: flex;
    flex-direction: row;
}

.footer-sociais h3 {
    margin-bottom: 20px;
}

.footer-sociais ul li + li {
    margin-left: 20px;
}

/* MEDIA */

@media (max-width: 991px){
    .header {
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
    }

    .menu-principal {
        display: none;
    }

    nav.ativo {
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100vh - 100px);
        background: #333;
        top: 100px;
        left: 0;
        transition: 0.5s;
    }

    .ativo ul {
        display: block;
        text-align: center;
    }

    .ativo ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
}